[submodule "ADAndor"]
	path = ADAndor
	url = https://github.com/areaDetector/ADAndor.git
[submodule "ADCore"]
	path = ADCore
	url = https://github.com/areaDetector/ADCore.git
[submodule "ADSimDetector"]
	path = ADSimDetector
	url = https://github.com/areaDetector/ADSimDetector.git
[submodule "NDDriverStdArrays"]
	path = NDDriverStdArrays
	url = https://github.com/areaDetector/NDDriverStdArrays.git
[submodule "ADSupport"]
	path = ADSupport
	url = https://github.com/sudilav/ADSupport.git
[submodule "ADPICam"]
	path = ADPICam
	url = https://github.com/mfurseman/ADPICam.git
