[submodule "ADAndor"]
	path = ADAndor
	url = https://github.com/areaDetector/ADAndor.git
[submodule "ADCore"]
	path = ADCore
	url = https://github.com/areaDetector/ADCore.git
[submodule "ADSimDetector"]
	path = ADSimDetector
	url = https://github.com/areaDetector/ADSimDetector.git
[submodule "NDDriverStdArrays"]
	path = NDDriverStdArrays
	url = https://github.com/areaDetector/NDDriverStdArrays.git